{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="" method="post">
        {{ register_form.hidden_tag() }}
        <p>
            {{ register_form.username.label }}<br>
            {{ register_form.username(size=32) }}<br>
            {% for error in register_form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ register_form.email.label }}<br>
            {{ register_form.email(size=32) }}<br>
            {% for error in register_form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ register_form.password.label }}<br>
            {{ register_form.password(size=32) }}<br>
            {% for error in register_form.password.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ register_form.password2.label }}<br>
            {{ register_form.password2(size=32) }}<br>
            {% for error in register_form.password2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ register_form.submit() }}
        </p>
    </form>
{% endblock %}
