{% extends "base.html" %}

{% block content %}
    <h1>Reset Password</h1>
    <form action="" method="post">
        {{ reset_password_request_form.hidden_tag() }}
        <p>
            {{ reset_password_request_form.email.label }}<br>
            {{ reset_password_request_form.email(size=64) }}<br>
            {% for error in reset_password_request_form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ reset_password_request_form.submit() }}
        </p>
    </form>
{% endblock %}
